
@keyframes App-logo-spin {
  /* from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  } */
}

* {
    /* outline: 1px solid lightyellow; */
    text-align: left;
    @media only screen and (max-width: 768px) {
      font-size: 0.5em;

    }
}

.tabLabel::after {
  content: ' \25BF';
  font-size: 1em;
}

table{
  padding: 0 1em 1em 1em;
}

td, th {
  text-align: left;
  padding: 0.5em 1em;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: blue;
}

@keyframes fade {
  0%{ opacity: 0.8 }
  50% { opacity: 0.9 }
  100% { opacity: 1 }
}